#
# General tcsh aliases.
#            
alias sa         'source /root/.aliases'
alias psg        'ps auxww | egrep \!* | egrep -v grep'
alias py         'python -O -u'
alias ll         'ls -lag'
alias ld         'ls -lgd'
alias h          'history'            
alias t          'nice top -d 1'
alias aptget     'sudo apt-get -o Acquire::ForceIPv4=true install'


#
# Nexus handy aliases.
#
alias run-nexus         '/nexus/run-nexus'
alias ps-nexus          'psg nexus'
alias kill-nexus        'pkill -9 nexus'    
alias tcp-nexus         'netstat -an | egrep "9323|9324|9325|9888"'
alias tcp-nexus-testnet 'netstat -an | egrep "8323|8329|8325|8888"'
alias ns-prod           'tcp-nexus'
alias ns-testnet        'tcp-nexus-testnet'
alias tail-nexus        'tail -f /nexus/nexus.log'

#
# There are 3 programaitc interfaces into the nexus Daemon. (1) the RPC
# interface for legacy compatibility, (2) the command-line API, and (3)
# a restful HTTP/JSON interface.    
#
alias nexus-api          '/nexus/nexus -api'
alias nexus-rpc          '/nexus/nexus -testnet'
alias curl-nexus         '/nexus/curl-nexus'
alias getinfo            'nexus-rpc getinfo'
alias getpeerinfo        'nexus-rpc getpeerinfo'
alias getconnectioncount 'nexus-rpc getconnectioncount'
alias getpeercount       'getconnectioncount'
    
#
# Handy network aliases.
#
alias ns          'netstat -an'
alias ping-seed4  'ping 240.0.255.255'
alias ping-seed6  'ping fe::255:255'
alias td          'tcpdump -i any -n'

#
# LISP handy aliases.
#            
alias ps-lisp      'pushd /lispers.net > /dev/null; ./pslisp; popd > /dev/null'
alias restart-lisp '/lispers.net/RL'    
alias ver          'curl --silent --insecure -u root: http://localhost:9090/lisp/api/data/system | jq .'
alias eids         'mc | egrep "eid-prefix|group-prefix"'
alias myeids       'curl --silent --insecure -u root: http://localhost:9090/lisp/api/database-mapping | jq .| egrep "eid-prefix"'
alias mc           'curl --silent --insecure -u root: http://localhost:9090/lisp/api/data/map-cache | jq .'
alias rate         'mc | egrep "stats|address|state"'
alias rate-loop    'echo "while 1 \n rate | sort -bu \n echo \n sleep 1 \n end \n" | tcsh'
alias lisp-log-packets '/lispers.net/log-packets -9090'